<h2 class="country-info__name">{{this.name.official}}</h2>
<ul>
    <li class="country-info__flag"><a href={{this.flags.svg}} src="flag of chosen country"></a></li>
    <li class="country-info__capital">{{this.capital}}</li>
    <li class="country-info__population">{{this.population}}</li>
    <li class="country-info__lang">{{this.languages}}</li>
</ul>